# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 38.9 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 20.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://febrianidewialviah:do9iUeCBPJmOXdTl@febriani.wtz6x.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted

In [ ]:
employees_data = [
    {'name' : 'Febri', 'departement' : 'CEO', 'age' : 29, 'salary' : 30000},
    {'name' : 'Vania', 'departement' : 'Finance', 'age' : 28, 'salary' : 8500},
    {'name' : 'Aftul', 'departement' : 'Manager', 'age' : 20, 'salary' : 7500},
    {'name' : 'Melly', 'departement' : 'IT Departement', 'age' : 35, 'salary' : 11500},
    {'name' : 'Manda', 'departement' : 'Marketing', 'age' : 19, 'salary' : 4500},
    {'name' : 'Resnu', 'departement' : 'Sales', 'age' : 21, 'salary' : 5500},
    {'name' : 'Adam', 'departement' : 'Marketing', 'age' : 22, 'salary' : 6500},
    {'name' : 'Gema', 'departement' : 'IT Departement', 'age' : 24, 'salary' : 5500},

]
collection.insert_many(employees_data)
print('Data berhasil ditambahkan')

Data berhasil ditambahkan

In [ ]:
collection.update_one(
    {'name' : 'Adam'},
    {'$set' : {'salary' : 7000}}
)
print("Gaji Adam telah diperbarui")

Gaji Adam telah diperbarui

In [ ]:
collection.delete_one({'name': 'Adam'})
print("Data Adam berhasil dihapus")

Data Adam berhasil dihapus

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672202471b4e9f03fbabbfdd'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6728287cb882c9bb0641373e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67282885b882c9bb0641373f'), 'name': 'Febri', 'departement': 'CEO', 'age': 29, 'salary': 30000}
{'_id': ObjectId('67282885b882c9bb06413740'), 'name': 'Vania', 'departement': 'Finance', 'age': 28, 'salary': 8500}
{'_id': ObjectId('67282885b882c9bb06413741'), 'name': 'Aftul', 'departement': 'Manager', 'age': 20, 'salary': 7500}
{'_id': ObjectId('67282885b882c9bb06413742'), 'name': 'Melly', 'departement': 'IT Departement', 'age': 35, 'salary': 11500}
{'_id': ObjectId('67282885b882c9bb06413743'), 'name': 'Manda', 'departement': 'Marketing', 'age': 19, 'salary': 4500}
{'_id': ObjectId('67282885b882c9bb06413744'), 'name': 'Resnu', 'departement': 'Sales', 'age': 21, 'salary': 5500}
{'_id': ObjectId('67282885b882c9bb06413746'), 'name': 'Gema', 'departement': 'IT Departement', 'age': 24, 'salary': 5500}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': None, 'average_salary': 10428.57142857143}
{'_id': 'Finance', 'average_salary': 4500.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
db = client['company_db']
collection = db['products']
newproducts_data = [
    {'nama' : 'Lemari', 'kategori': 'furtnitur', 'harga': 250},
    {'nama' : 'Meja Belajar', 'kategori': 'furtnitur', 'harga': 200},
    {'nama' : 'Kursi', 'kategori': 'furtnitur', 'harga': 225},
    {'nama' : 'Blender', 'kategori': 'Elektronik', 'harga': 150},
    {'nama' : 'Tempat Sampah', 'kategori': 'Perabotan', 'harga': 50},
    {'nama' : 'Rak Sepatu', 'kategori': 'Perabotan', 'harga': 60},
    {'nama' : 'Karpet', 'kategori': 'Perabotan', 'harga': 120},
    {'nama' : 'Iphone', 'kategori': 'Elektronik', 'harga': 4500},
    {'nama' : 'Tablet', 'kategori': 'Elektronik', 'harga': 3250},
    {'nama' : 'Buku', 'kategori': 'Alat_Tulis', 'harga': 25}
]
collection.insert_many(newproducts_data)
print('Data berhasil ditambahkan')

Data berhasil ditambahkan

In [ ]:
for products in collection.find():
  print(products)

{'_id': ObjectId('67283399b882c9bb06413751'), 'nama': 'Lemari', 'kategori': 'furtnitur', 'harga': 250}
{'_id': ObjectId('67283399b882c9bb06413752'), 'nama': 'Meja Belajar', 'kategori': 'furtnitur', 'harga': 200}
{'_id': ObjectId('67283399b882c9bb06413753'), 'nama': 'Kursi', 'kategori': 'furtnitur', 'harga': 225}
{'_id': ObjectId('67283399b882c9bb06413754'), 'nama': 'Blender', 'kategori': 'Elektronik', 'harga': 150}
{'_id': ObjectId('67283399b882c9bb06413755'), 'nama': 'Tempat Sampah', 'kategori': 'Perabotan', 'harga': 50}
{'_id': ObjectId('67283399b882c9bb06413756'), 'nama': 'Rak Sepatu', 'kategori': 'Perabotan', 'harga': 60}
{'_id': ObjectId('67283399b882c9bb06413757'), 'nama': 'Karpet', 'kategori': 'Perabotan', 'harga': 120}
{'_id': ObjectId('67283399b882c9bb06413758'), 'nama': 'Iphone', 'kategori': 'Elektronik', 'harga': 4500}
{'_id': ObjectId('67283399b882c9bb06413759'), 'nama': 'Tablet', 'kategori': 'Elektronik', 'harga': 3250}
{'_id': ObjectId('67283399b882c9bb0641375a'), 'nama': 'Buku', 'kategori': 'Alat_Tulis', 'harga': 25}

In [ ]:
avg_price = collection.aggregate([
    {'$group': {'_id': '$kategori', 'avg_price': {'$avg': '$harga'}}}
])
avg_price = list(avg_price)[0]['avg_price']
print(f"Rata-rata harga produk adalah ", avg_price)

above_avg_price = collection.find({'harga': {'$gt': avg_price}})
print("Produk dengan harga di atas rata-rata:")
for products in above_avg_price:
    print(products)

Rata-rata harga produk adalah  225.0
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('67283399b882c9bb06413751'), 'nama': 'Lemari', 'kategori': 'furtnitur', 'harga': 250}
{'_id': ObjectId('67283399b882c9bb06413758'), 'nama': 'Iphone', 'kategori': 'Elektronik', 'harga': 4500}
{'_id': ObjectId('67283399b882c9bb06413759'), 'nama': 'Tablet', 'kategori': 'Elektronik', 'harga': 3250}

In [ ]:
produk_kategori = collection.aggregate([
    {'$group': {'_id' : '$kategori', 'total_produk' : {'$sum' : 1}}}
])
print("Jumlah produk pada setiap kategori:")
for kategori in produk_kategori:
  print(kategori)

Jumlah produk pada setiap kategori:
{'_id': 'furtnitur', 'total_produk': 3}
{'_id': 'Elektronik', 'total_produk': 3}
{'_id': 'Alat_Tulis', 'total_produk': 1}
{'_id': 'Perabotan', 'total_produk': 3}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
db = client['company_db']
collection = db['tugas5']
tugas5 = [
    {'nama' : 'Febri', 'departemen' : 'CEO', 'age' : 29, 'gaji' : 30000},
    {'nama' : 'Vania', 'departemen' : 'Finance', 'age' : 28, 'gaji' : 8500},
    {'nama' : 'Aftul', 'departemen' : 'Marketing', 'age' : 20, 'gaji' : 7500},
    {'nama' : 'Melly', 'departemen' : 'IT Departement', 'age' : 35, 'gaji' : 11500},
    {'nama' : 'Manda', 'departemen' : 'Marketing', 'age' : 19, 'gaji' : 4500},
    {'nama' : 'Resnu', 'departemen' : 'Finance', 'age' : 21, 'gaji' : 5500},
    {'nama' : 'Adam', 'departemen' : 'Marketing', 'age' : 22, 'gaji' : 6500},
    {'nama' : 'Gema', 'departemen' : 'IT Departement', 'age' : 24, 'gaji' : 5500},
    {'nama' : 'Riani', 'departemen' : 'Marketing', 'age' : 25, 'gaji' : 10000},
    {'nama' : 'Melia', 'departemen' : 'Finance', 'age' : 24, 'gaji' : 3500},
    {'nama' : 'Rasya', 'departemen' : 'Marketing', 'age' : 21, 'gaji' : 4500},
    {'nama' : 'Flower', 'departemen' : 'IT Departement', 'age' : 20, 'gaji' : 5500},
    {'nama' : 'Alif', 'departement' : 'Marketing', 'age' : 18, 'gaji' : 2500},
    {'nama' : 'Doni', 'departement' : 'Finance', 'age' : 20, 'gaji' : 6500},
    {'nama' : 'Rasya', 'departemen' : 'Marketing', 'age' : 30, 'gaji' : 7500},
    {'nama' : 'Rama', 'departemen' : 'IT Departement', 'age' : 23, 'gaji' : 5200},
    {'nama' : 'Wahyu', 'departemen' : 'Marketing', 'age' : 29, 'gaji' : 4200},
    {'nama' : 'Sifa', 'departemen' : 'Finance', 'age' : 25, 'gaji' : 7200},
    {'nama' : 'Nana', 'departemen' : 'Marketing', 'age' : 22, 'gaji' : 6200},
    {'nama' : 'Melani', 'departemen' : 'IT Departement', 'age' : 25, 'gaji' : 12500},
    {'nama' : 'Nursa', 'departemen' : 'Marketing', 'age' : 19, 'gaji' : 4400},
    {'nama' : 'April', 'departemen' : 'Finance', 'age' : 22, 'gaji' : 5600},
    {'nama' : 'Sana', 'departemen' : 'Marketing', 'age' : 22, 'gaji' : 4500},
    {'nama' : 'Riko', 'departemen' : 'IT Departement', 'age' : 24, 'gaji' : 6500},

]
collection.insert_many(tugas5)
print('Data berhasil ditambahkan')

Data berhasil ditambahkan

In [ ]:
for tugas5 in collection.find():
    print(tugas5)

{'_id': ObjectId('67287117121ead23b0687cfe'), 'nama': 'Febri', 'departemen': 'CEO', 'age': 29, 'gaji': 30000}
{'_id': ObjectId('67287117121ead23b0687cff'), 'nama': 'Vania', 'departemen': 'Finance', 'age': 28, 'gaji': 8500}
{'_id': ObjectId('67287117121ead23b0687d01'), 'nama': 'Melly', 'departemen': 'IT Departement', 'age': 35, 'gaji': 11500}
{'_id': ObjectId('67287117121ead23b0687d06'), 'nama': 'Riani', 'departemen': 'Marketing', 'age': 25, 'gaji': 10000}
{'_id': ObjectId('67287117121ead23b0687d0c'), 'nama': 'Rasya', 'departemen': 'Marketing', 'age': 30, 'gaji': 7500}
{'_id': ObjectId('67287117121ead23b0687d0e'), 'nama': 'Wahyu', 'departemen': 'Marketing', 'age': 29, 'gaji': 4200}
{'_id': ObjectId('67287117121ead23b0687d0f'), 'nama': 'Sifa', 'departemen': 'Finance', 'age': 25, 'gaji': 7200}
{'_id': ObjectId('67287117121ead23b0687d11'), 'nama': 'Melani', 'departemen': 'IT Departement', 'age': 25, 'gaji': 12500}
{'_id': ObjectId('672872d1121ead23b0687d18'), 'nama': 'Febri', 'departemen': 'CEO', 'age': 29, 'gaji': 30000}
{'_id': ObjectId('672872d1121ead23b0687d19'), 'nama': 'Vania', 'departemen': 'Finance', 'age': 28, 'gaji': 8500}
{'_id': ObjectId('672872d1121ead23b0687d1b'), 'nama': 'Melly', 'departemen': 'IT Departement', 'age': 35, 'gaji': 11500}
{'_id': ObjectId('672872d1121ead23b0687d20'), 'nama': 'Riani', 'departemen': 'Marketing', 'age': 25, 'gaji': 10000}
{'_id': ObjectId('672872d1121ead23b0687d26'), 'nama': 'Rasya', 'departemen': 'Marketing', 'age': 30, 'gaji': 7500}
{'_id': ObjectId('672872d1121ead23b0687d28'), 'nama': 'Wahyu', 'departemen': 'Marketing', 'age': 29, 'gaji': 4200}
{'_id': ObjectId('672872d1121ead23b0687d29'), 'nama': 'Sifa', 'departemen': 'Finance', 'age': 25, 'gaji': 7200}
{'_id': ObjectId('672872d1121ead23b0687d2b'), 'nama': 'Melani', 'departemen': 'IT Departement', 'age': 25, 'gaji': 12500}

In [ ]:

from pymongo import MongoClient

client = MongoClient('mongodb+srv://febrianidewialviah:do9iUeCBPJmOXdTl@febriani.wtz6x.mongodb.net/')
db = client['company_db']
collection = db['tugas5']

top_5 = collection.aggregate([
    {'$sort': {'departemen': 1, 'gaji': -1}},
    {'$group': {
        '_id': '$departemen',
        'top_employees': {'$push': {'nama': '$nama', 'gaji': '$gaji'}}
    }},
    {'$project': {
        'top_employees': {'$slice': ['$top_employees', 5]}
    }}
])

print("5 karyawan dengan gaji tertinggi dalam setiap departemen:")
for departemen in top_5:
    print(f"\nDepartemen: {departemen['_id']}")
    for tugas5 in departemen['top_employees']:
        print(f"- {tugas5['nama']}: {tugas5['gaji']}")

5 karyawan dengan gaji tertinggi dalam setiap departemen:

Departemen: None
- Doni: 6500
- Alif: 2500

Departemen: IT Departement
- Melani: 12500
- Melly: 11500
- Riko: 6500
- Gema: 5500
- Flower: 5500

Departemen: Marketing
- Riani: 10000
- Aftul: 7500
- Rasya: 7500
- Adam: 6500
- Nana: 6200

Departemen: CEO
- Febri: 30000

Departemen: Finance
- Vania: 8500
- Sifa: 7200
- April: 5600
- Resnu: 5500
- Melia: 3500

In [ ]:
underage25 = collection.delete_many({'age': {'$lt': 25}})
print(f"Hapus karyawan yang berusia di bawah 25 tahun")

Hapus karyawan yang berusia di bawah 25 tahun

In [ ]:
report = collection.aggregate([
    {'$group': {
        '_id': '$departemen',
        'total_gaji': {'$sum': '$gaji'},
        'rata_umur': {'$avg': '$age'}
    }}
])
print("Laporan gaji dan rata-rata umur karyawan di setiap departemen:")
for departemen in report:
    print(f"\nDepartemen: {departemen['_id']}")
    print(f" * Total gaji: {departemen['total_gaji']}")
    print(f" * Rata-rata usia: {departemen['rata_umur']}")

Laporan gaji dan rata-rata umur karyawan di setiap departemen:

Departemen: IT Departement
 * Total gaji: 48000
 * Rata-rata usia: 30.0

Departemen: Marketing
 * Total gaji: 43400
 * Rata-rata usia: 28.0

Departemen: Finance
 * Total gaji: 31400
 * Rata-rata usia: 26.5

Departemen: CEO
 * Total gaji: 60000
 * Rata-rata usia: 29.0